<h4 class="page-header">Welcome on the xTools Project <sup class="label label-info">LITE</sup></h4>
<p class="text-justified">This project is made of tools for the <abbr title="Massive Multiplayer Online Real-Time Strategy">MMORTS</abbr> game <a href="http://kingdoms.travian.com" target="_blank">Travian : Kingdoms <i class="fa fa-fw fa-external-link"></i></a>.</p>
<p class="text-justifed">The Genesis of the the project was done by some french players, in order to have a more complete tool to help the players, and not to have many external tools scattered all over the web.</p>
<p class="text-justified">This Lite version of the project include only the stand-alone tools. Those tools are the most used ones, and publishing those here, on GitHub, will make it easier for all developpers to improve an existing project.</p>
<p class="text-justified">I hope you will enjoy all those tools, and help improve them.</p>
<hr/>
<h5 class="page-header">Tool list :</h5>
<dl class="dl-horizontal">
    <dt>Hammer Builder : </dt><dl>Tool for estimating the troops amounts in a hammer-type offensive army.</dl>
    <dt>TSA : </dt><dl>Tool for estimating the Tournament Square (TS) of an ennemy.</dl>
    <dt>Troop Research : </dt><dl>Tool defining the minimum troop amount for having efficient troop upgrades.</dl>
</dl>
