<div class="row">
    <h3 class="page-header">{{ 'TEXTS.HOME.WELCOME' | translate }} xTools Project <sup class="label label-info">LITE</sup></h3>
    <p class="text-justified">{{ 'TEXTS.HOME.T_01' | translate }} <abbr title="Massive Multiplayer Online Real-Time Strategy">MMORTS</abbr> <a href="http://kingdoms.travian.com" target="_blank">Travian : Kingdoms <i class="fa fa-fw fa-external-link"></i></a>.</p>
    <p class="text-justified">{{ 'TEXTS.HOME.T_02' | translate }}</p>
    <p class="text-justified">{{ 'TEXTS.HOME.T_03' | translate }}</p>
    <p class="text-justified">{{ 'TEXTS.HOME.T_04' | translate }}</p>
    <hr/>
</div>
<div class="row">
    <h4 class="page-header">{{ 'TEXTS.HOME.AVAIL_LANG' | translate }} : </h4>
    <div class="col-xs-12">
        <ul class="list-inline">
            <li ng-repeat="flag in flags"><i class="fa fa-fw flag flag-bordered flag-{{ flag }}"></i></li>
        </ul>
    </div>
    <hr/>
</div>
<div class="row table-responsive">
    <h4 class="page-header">{{ 'TEXTS.HOME.TOOL_LIST' | translate }} :</h4>
    <table class="table table-condensed table-striped">
        <tr class="bg-primary">
            <th class="bg-primary">Tool Name</th>
            <th class="bg-primary">Tool Link</th>
            <th class="bg-primary">Tool Description</th>
        </tr>
        <tr>
            <th>Hammerbuilder</th>
            <td><a href="#/hammerbuilder"><i class="fa fa-fw fa-link"></i></a></td>
            <td>{{ 'TEXTS.HB.DESC' | translate }}</td>
        </tr>
        <tr>
            <th>TSA</th>
            <td><a href="#/tsa"><i class="fa fa-fw fa-link"></i></a></td>
            <td>{{ 'TEXTS.TSA.DESC' | translate }}</td>
        </tr>
        <tr>
            <th>Troop Research</th>
            <td><a href="#/troopresearch"><i class="fa fa-fw fa-link"></i></a></td>
            <td>{{ 'TEXTS.TSA.DESC' | translate }}</td>
        </tr>
    </table>
</div>